ADMIN_USERNAME=admin
ADMIN_PASSWORD=password123
SESSION_SECRET=it-is-the-top-secret-of-the-world-for-the-security
CONTACT_FORM_URL=https://script.google.com/macros/s/AKfycbyaSpvHIOI1bHuYhXlRVVLzk6JLxtpZecSFWhM2r8YAYIt60n1inUgfvnlT0hGuw7Bo/exec

# Create a free Cloudinary account and add these to Vercel.
CLOUDINARY_CLOUD_NAME=@euva8yjn
CLOUDINARY_API_KEY=756323448627242
CLOUDINARY_API_SECRET=bZ6FNgZ7oL8agsLnnBt4re8wZgQ
